[Aa]ssets/FPS_ExtraAssets/Effects/*
[Aa]ssets/FPS_ExtraAssets/Enemys/Fantasy_Enemys/Ghost/*
[Aa]ssets/FPS_ExtraAssets/Enemys/Fantasy_Enemys/Slime/*
[Aa]ssets/FPS_ExtraAssets/Enemys/SF_Enemys/*
[Aa]ssets/FPS_ExtraAssets/SampleScene/Sample_Dark/*
[Aa]ssets/FPS_ExtraAssets/SampleScene/Sample_Fantasy/*
[Aa]ssets/FPS_ExtraAssets/SampleScene/Sample_SF/*

[Aa]ssets/FPS_ExtraAssets/Stages/*
[Aa]ssets/FPS_ExtraAssets/Skybox/*
[Aa]ssets/FPS_ExtraAssets/Weapons/Textures/*
[Aa]ssets/FPS_ExtraAssets/Weapons/Prefabs/*
[Aa]ssets/FPS_ExtraAssets/Weapons/Models/*
[Aa]ssets/FPS_ExtraAssets/Weapons/Materials/*

[Aa]ssets/FPSPackage/Standard Assets/*
[Aa]ssets/FPSPackage/Prefabs/*
[Aa]ssets/FpsPackage/Packages/*
[Aa]ssets/FpsPackage/Models/*
[Aa]ssets/FpsPackage/Materials/*

[Tt]emp/*

Library
Logs
obj
Build
*csproj
Build.7z
.vs